* {
  font-family: 'Inter', sans-serif;
}

body {
  overflow: hidden;
  background-color: gray;
}
.calculator {
  margin: auto;
  width: 360px;
  border: white 1px solid;
  padding: 28px 15px;
  background-color: #000000;
  border-radius: 40px;
}
.buttons {
  margin: auto;
  display: grid;
  grid-template-columns: 80px 80px 80px 80px;
  grid-template-rows: 80px 80px 80px 80px 80px;
  gap: 10px;
}
.display {
  margin-top: 120px;

  width: 100%;
  height: 80px;
  color: white;
  margin-bottom: 25px;
  font-size: 80px;
  font-weight: 300;
  /*align-items: center;
  justify-content: center;*/
}
button {
  height: 80px;
  width: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  border-radius: 50%;
  margin: 4px;
  border: none;
  cursor: pointer;
}
.button-null {
  text-align: start;
  display: block;
  width: 172px;
  border-radius: 55px;
  grid-column: 1/3;
  padding-left: 31px;
}

.button-up {
  background-color: #9f9f9f;
  font-size: 28px;
}

.button-main {
  background-color: #313131;
  color: #f6f6f6;
  font-size: 36px;
}

.button-right {
  background-color: #f69906;
  color: #f6f6f6;
  font-size: 48px;
  padding-bottom: 9px;
  font-weight: 400;
}
.button-equal {
  background-color: #f69906;
  color: #f6f6f6;
  font-size: 48px;
  padding-bottom: 9px;
  font-weight: 400;
}
/*styles for active elements*/
.button-right_active {
  background-color: white;
  color: #ff9500;
}
.button-up_active {
  background-color: white;
}
.button-main_active {
  filter: brightness(140%);
}
@media screen and (max-width: 600px) {
  .calculator {
    width: 100%;
    height: 100%;
    margin: 0;
    border-radius: 0px;
    border: none;
  }
  body {
    margin: 0;
    height: 100%;
  }
  .buttons {
    margin: auto;
    display: grid;

    margin: auto;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 80px 80px 80px 80px 80px;
    gap: 10px;
  }
}
